a[data-title="Zoom"],
a[data-title="Download plot as a png"],
a[data-title="Box Select"],
a[data-title="Autoscale"],
a[data-title="Toggle Spike Lines"],
a[data-title="Collaborate"],
a[data-title="Produced with Plotly"]{
	display: none;
}

.report_btn {
    padding: 8px;
    font-size: 20px;
    width: 40px;
    float: right;
}

#pageBack, #pageForward {
	font-size: 20px;
    padding: 5px;
}

#currentY_dive {
	float: left;
}

div[data-value="Instructions"] table td,
div[data-value="Instructions"] table th {
	padding: 8px;
	text-align: center;
    border: 3px solid #f8f5f0;
}